// @font-face {
//     font-family: "Figtree";
//     src: url("/assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Figtree";
//     src: url("/assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
//     font-weight: 800;
//     font-style: normal;
// }

@font-face {
    font-family: "Figtree";
    src: url("../fonts/Figtree-VariableFont_wght.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("../fonts/Figtree-VariableFont_wght.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Figtree-semibold";
    src: url("../fonts/static/Figtree-SemiBold.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Figtree-bold";
    src: url("../fonts/static/Figtree-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}