// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:
$mobile: 375px;
$desktop: 1440px;

//Texts
$font-family: "Figtree";
// - Weights: 500, 800
$font-size-paragraph: 16px;

// Colors
$primary-color: hsl(47, 88%, 63%);
$white: hsl(0, 0%, 100%);
$secondary-color: hsl(0, 0%, 42%);
$tertiary-color: hsl(0, 0%, 7%);


